COMPOSE_PROJECT_NAME=generic-server

CMS=wordpress
DOCROOT=/var/www/html
SITE_URL=http://localhost:24210

DB_NAME=app
DB_USER=app
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me-too

XDEBUG_MODE=off
